@font-face {
    font-family: cyber;
    src: url(./fonts/Cyberpunk.otf);
}

@font-face {
    font-family: clacon;
    src: url(./fonts/clacon2.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(./fonts/Roboto-Regular.ttf);
}


html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #0f172a;
}

h1,
h2 {
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: robotoRegular;
    background-image: url(./img/city.png);
}

.header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
}

.menu {
    display: flex;
    gap: 1rem;
    width: 500px;
    
}

.top-menu {
    box-shadow: inset 0 0px 5px #f43f5e;
    font-size: 1rem;
    appearance: none;
    background-color: transparent;
    border-style: none;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 150px;
    max-width: 200px;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.top-menu:disabled {
    pointer-events: none;
}

.top-menu:hover {
    color: #fff;
    background-color: #831843;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.top-menu:active {
    box-shadow: none;
    transform: translateY(0);
}

.header h1 {
    color: white;
    font-size: 4rem;
    font-family: cyber;
    text-align: center;
    width: 500px;
}

.menu2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 500px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta,
.facebook {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(331deg) brightness(108%) contrast(101%);
    width: 35px;
    cursor: pointer;
}

/* Main page */

.main-content {
    flex-grow: 3;
    width: 1500px;
    background-color: #ffe4e6;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 15px 50px;
    box-shadow: inset 0 0px 10px #f43f5e;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

h2 {
    background-color: #1e293b;
    border-radius: 15px;
    width: 800px;
    text-align: center;
    color: #ffe4e6;
}

.about {
    display: flex;
    gap: 1rem;
    align-self: flex-start;
    align-items: center;
}

.about-img {
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    border: 3px solid white;
}

.about-text {
    background-color: #f43f5e;
    border-radius: 15px 50px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: rgb(65, 63, 63);
    height: 90px;
}

.main-wrapper button {
    font-size: 1.5rem;
    color: rgb(65, 63, 63);
}

.hours-header {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 1rem;
}

.hours-header-txt {
    background-color: #f43f5e;
    border-radius: 15px 50px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: rgb(65, 63, 63);
}

.hours {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 1rem;
}

.hours-text {
    background-color: #f43f5e;
    border-radius: 15px 50px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: rgb(65, 63, 63);
}

.hours-img {
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    border: 3px solid white;
}

.footer {
    flex-grow: 1;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    font-family: clacon;
}

/* Menu page */
.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.drink {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

.drink-img {
    width: 200px;
}

h3 {
    background-color: #1e293b;
    border-radius: 15px;
    width: 800px;
    text-align: center;
    color: #ffe4e6;
    font-size: 2rem;
}

/* Contacts Page */
.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
    gap: 2rem;
}

.contacts-header {
    background-color: #1e293b;
    border-radius: 15px;
    width: 800px;
    text-align: center;
    color: #ffe4e6;
    font-size: 2rem;
}

.contacts {
    background-color: #f43f5e;
    border-radius: 15px 50px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: rgb(65, 63, 63);
    width: 300px;
    text-align: center;
}

.address {
    background-color: #f43f5e;
    border-radius: 15px 50px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    color: rgb(65, 63, 63);
    width: 300px;
    text-align: center;
}

.map {
    height: 500px;
    border: 6px solid #f43f5e;
}